body {
  background-color: wheat;
  color: rgb(76, 2, 76);
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  position: relative;
  min-height: 100vh;
}
p {
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;

  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

.copyright {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .profile-pic {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .profile-pic {
    width: 7vw;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

h2 {
  text-align: center;
  font-size: 5em;
  font-family: "Montserrat", sans-serif;
}

footer {
  position: relative;
  height: 100%;
  color: ;
  background-color: #edb83c;
  width: 100%;
}
/*Media query for differnt screens */
@media (min-width: 1100px) {
  body {
    display: grid;
    grid-gap: 0px;
    justify-content: space-evenly;
  }
}

@media (min-width: 1100px) {
  .blog {
    display: flexbox;
    grid-gap: 0px;
  }
}

/*Blogs Grid Medium screens */
@media (min-width: 600px) and (max-width: 1100px) {
  .blog {
    display: flex;
    justify-content: space-evenly;
    grid-gap: 10px;
  }
}
