@import "main.css";
@import "footer.css";
@import "nav.css";

body {
  margin: 0;
}

.nav {
  background-color: #ff4c68;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 60px;
}
h1 {
  text-align: center;
  font-size: 5vh;
}

h2 {
  text-align: left;
  margin-left: 50px;
}

.blog-details p {
  text-align: center;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
}

footer h2 {
  text-align: center;
}

.about h2, p{
  text-align: center;
}


.avatar{
  position: relative;
	height: 100px;
	width: 100px;
	margin: auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;

}

.profile-pic {
    padding-left: 45%;
		padding-right: 45%;
  
		} 


/*Medium Screens
/* @media (min-width: 700px) and (max-width: 1200px) {
  .content {
    padding: 35px 15%;
  }
}

/* Large Screens */
/* @media (min-width: 1201px) {
  .content {
    padding: 60px 26%;
  }
} */ 

