.container-footer,
.bottom-container{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #edb83c;
  color: black;
  text-align: center;
}

.social-icon {
  padding-top: 20px;
  color: black;
  margin: 20px 10px;
  size: 500px;
}
h5 {
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
  text-align: center;
}

h4, 
p,
input,
button {
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: rgb(76, 2, 76);
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  display: block;
  font-size: 1em;
  margin-top: 5px;
  padding-bottom: 10px;
}

h4 {
  color: black;
  font-family: "Montserrat", sans-serif;
}

input {
  width: 300px;
  text-align: center;
}

p {
  font-style: italic;
}
button{
    background-color: green;
}
.subscribe {
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color:whitesmoke;
  font-weight:normal;
  font-size: 15px;
  padding: 10 25px 10px 20px;
  text-decoration: none;
}

.subscribe:hover {
  background: #30e3cb;
  text-decoration: none;
}

.copyright {
  text-align: center;
  padding-bottom: 10px;
}