/* Banner */
.main-img {
  background-position:center;
  background-size: cover;
  width: 100vw;
  height: 750px;
  display: inline;;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "Montserrat", Italics;
  color:rgb(76, 2, 76);
  font-size: 3.5vh;
}