@import "nav.css";
@import "hero.css";
@import "footer.css";
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: wheat;
}

/*  art image */
.img-card {
  width: 400px;
  height: 400px;
}

/* card */

.card {
  margin: 100 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
}

section {
  background-color: wheat;
}

.art-text {
  font-size: 3rem;
  line-height: 1.5;
}

/*Blogs Grid Medium screens */
@media (min-width: 600px) and (max-width: 1100px) {
  .blog {
    display: flex;
    justify-content: space-evenly;
    grid-gap: 10px;
  }
}

.card-content h2 {
  color: rgb(76, 2, 76);
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: center;
}

hr {
  border: dotted grey 8px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

button {
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: blue;
  font-size: 15px;
  
  text-align: center;
}

button:hover {
  background: #30e3cb;
  text-decoration: coral;
}

button  

/***** Blogs Grid Large screens ****/

@media (min-width: 1100px) {
  .blog {
    display: flexbox;
    grid-gap: 0px;
  }
}

/*Blogs Grid Medium screens */
@media (min-width: 600px) and (max-width: 1100px) {
  .blog {
    display: flex;
    justify-content: space-evenly;
    grid-gap: 10px;
  }
}
